* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: ghostwhite;
}

h2, h3 {
    color: lightskyblue;
}

.card, .container {
    border: 1px solid gray;
    background-color: whitesmoke;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
    padding: 16px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 45vh;
    align-items: flex-end;
}

.card {
    flex: 1 3 500px;
}

.card:first-child {
    flex: 3 1 500px;
    align-self: flex-start;
    order: 1;
}

#ol-header {
    color: seagreen;
}

#parent li {
    font-weight: bold;
}

#parent > li {
    font-style: italic;
}

@media(max-width: 768px) {
    h2 {
        color: seagreen;
    }
}