* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: ghostwhite;
}

h2, h3 {
    color: lightskyblue;
}

.card {
    border: 1px solid gray;
    background-color: whitesmoke;
    width: 80rem;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
    padding: 16px;
    margin-bottom: 16px;
}

#ol-header {
    color: seagreen;
}

#parent li {
    font-weight: bold;
}

#parent > li {
    font-style: italic;
}

@media(max-width: 768px) {
    h2 {
        color: seagreen;
    }
}